services:
  web:
    build: .  # Necesitas un Dockerfile en tu directorio
    # Alternativamente usa una imagen existente:
    # image: nginx:alpine
    environment:
      ALLOW_OVERRIDE: "true"
    ports:
      - "80:80"
    depends_on:
      - db
    volumes:
      - ./app:/var/www/html/

  db:
    image: mariadb:10.8.2
    restart: always
    volumes:
      - ./mysql:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: admin
      MYSQL_PASSWORD: test
      MYSQL_DATABASE: database
    ports:
      - "8889:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    depends_on:
      - db
    ports:
      - "8890:80"
    environment:
      PMA_HOST: db
      MYSQL_USER: admin
      MYSQL_PASSWORD: test
